:root {
  /* 
   * Color System - Primary colors
   */
  --color-dark: #0f0f0f;
  --color-red: #FF0A01;
  --color-grey-light: #EAEAEA;
  --color-grey-medium: #A6A6A6;
  --color-grey-dark: #595959;
  --color-white: #fff;
  /*-------------------------------------*/
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 70px;
}

/*
  * --------------------------------------------------
  * components/Aside
  * --------------------------------------------------
  */
aside {
  background: var(--color-white);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
  * --------------------------------------------------
  * components/Header
  * --------------------------------------------------
  */
.logo {
  width: 180px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-white);
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-inline: 1.8rem;
}

@media (min-width: 58em) {
  .header-menu-mobile-toggle {
    display: none;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 2.5rem;
}
@media (min-width: 58em) {
  .header-menu-desktop {
    display: flex;
    align-items: center;
    grid-gap: 2.5rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

/*
  * --------------------------------------------------
  * components/Footer
  * --------------------------------------------------
  */
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-white);
}

/*
  * --------------------------------------------------
  * components/Cart
  * --------------------------------------------------
  */
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}

/*
  * --------------------------------------------------
  * components/Search
  * --------------------------------------------------
  */
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-white);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
  * --------------------------------------------------
  * routes/__index
  * --------------------------------------------------
  */
.hero-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0;
  background-color: var(--color-white);
  background-position: center;
  background-size: cover;
}
.hero-wrapper .content {
  max-width: 1550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.hero-wrapper .content .left {
  padding: 3rem;
}
.hero-wrapper .content .left h1 {
  line-height: 3.5rem;
}
.hero-wrapper .content .left p {
  padding-right: 5rem;
  margin-bottom: 2rem;
}
.hero-wrapper .content .left .calls {
  display: flex;
  gap: 1.5rem;
}
.hero-wrapper .content .right {
  padding-right: 3rem;
}
.hero-wrapper .content .right img {
  width: 32.5rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
section .section-wrapper {
  max-width: 1550px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0.62rem;
}
section .section-wrapper .card-wrapper {
  display: flex;
  width: calc(50% - 15px);
  height: 420px;
  overflow: hidden;
  cursor: pointer;
}
section .section-wrapper .card-wrapper .left {
  flex: 1;
  padding: 40px;
}
section .section-wrapper .card-wrapper .left p {
  font-weight: 300;
}
section .section-wrapper .card-wrapper .right {
  position: relative;
  flex: 1;
}
section .section-wrapper .card-wrapper .right img {
  width: 350px;
  margin-top: -0.6rem;
  transition: transform 0.15s ease-in-out;
}
section .section-wrapper .card-wrapper .right img:hover {
  transform: translateY(-15px);
}

.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1/1;
}
@media (min-width: 45em) {
  .featured-collection-image {
    aspect-ratio: 16/9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recommended-products .text-bar {
  margin-top: 2%;
  margin-bottom: 4%;
  display: flex;
  overflow: hidden;
}
.recommended-products .text-bar .text-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.recommended-products .text-bar .text-container .track {
  background: var(--color-dark);
  color: var(--color-white);
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 22s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
.recommended-products .recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 50px;
}
@media (min-width: 45em) {
  .recommended-products .recommended-products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.recommended-products .recommended-products-grid .recommended-product img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommended-products .recommended-products-grid .recommended-product .info-prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommended-products .recommended-products-grid .recommended-product .info-prod small {
  color: var(--color-red);
  font-weight: 800;
  font-size: 1rem;
}

/*
  * --------------------------------------------------
  * routes/collections._index.tsx
  * --------------------------------------------------
  */
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
  * --------------------------------------------------
  * routes/collections.$handle.tsx
  * --------------------------------------------------
  */
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
}
@media (min-width: 45em) {
  .collection-description {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
  * --------------------------------------------------
  * routes/products.$handle.tsx
  * --------------------------------------------------
  */
.product {
  display: grid;
}
@media (min-width: 45em) {
  .product {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image {
  height: 100vh;
}
.product-image img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
  * --------------------------------------------------
  * routes/blog._index.tsx
  * --------------------------------------------------
  */
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
  * --------------------------------------------------
  * routes/blog.$articlehandle.tsx
  * --------------------------------------------------
  */
.article img {
  height: auto;
  width: 100%;
}

/*
  * --------------------------------------------------
  * skeleton
  * --------------------------------------------------
*/
.skeleton-loading {
  background-color: #f5f5f5;
  height: 100vh;
  background-color: var(--color-grey-light);
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%) var(--color-grey-light);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out 10s;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
/*
  * --------------------------------------------------
  * Mobile and small tabs
  * --------------------------------------------------
*/
@media only screen and ((min-width: 321px) and (max-width: 480px)) {
  /*  
  routes/__index  
  */
  .hero-wrapper {
    height: 100vh;
  }
  .hero-wrapper .content {
    flex-direction: column-reverse;
    gap: 0;
    margin-top: -2rem;
  }
  .hero-wrapper .content .left {
    padding: 0;
    padding-inline: 1.5rem;
  }
  .hero-wrapper .content .left h1 {
    margin: 0;
  }
  .hero-wrapper .content .left p {
    padding: 0;
    margin: 0;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .hero-wrapper .content .right {
    padding: 0;
    width: auto;
    height: auto;
  }
  .hero-wrapper .content .right img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .section-wrapper .card-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 650px;
  }
  .featured-collection-image {
    aspect-ratio: 16/9;
  }
  .recommended-products .recommended-products-grid {
    padding-inline: 10px;
  }
  /* 
      general options
  */
  h1 {
    font-size: 3.5rem;
    line-height: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  h2 {
    font-size: 3.1rem;
    line-height: 1.688;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  h3 {
    font-size: 2.8rem;
    line-height: 1.563;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.313rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h5 {
    font-size: 1.1rem;
    line-height: 1.125rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  h6 {
    font-size: 0.8rem;
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 100;
  }
  .p-button-mobile {
    display: block;
    padding: 8px 40px;
    background-color: var(--color-red);
    color: var(--color-white);
    border-radius: 6.87rem;
    font-size: 1.06rem;
    letter-spacing: 0.08rem;
  }
}
/* Legacy and small mobiles */
/* Small Devices, Tablets *//*# sourceMappingURL=app.css.map */