:root {
    /* 
     * Color System - Primary colors
     */
    --color-dark: #0f0f0f;
    --color-red: #FF0A01;
    --color-grey-light: #EAEAEA;
    --color-grey-medium: #A6A6A6;
    --color-grey-dark: #595959;
    --color-white: #fff;
    /* 
     * General sizes 
     */
    --aside-width: 500px;
    --aside-width-mobile: 85vw;
    --cart-aside-summary-height-with-discount: 300px;
    --cart-aside-summary-height: 250px;
    --grid-item-width: 355px;
    --header-height: 70px;
    --margin-section-mobile: 4rem;
    --margin-section-desk: 8rem;
}

/*
  * --------------------------------------------------
  * components/Aside
  * --------------------------------------------------
  */

aside {
    background: var(--color-white);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    height: 100vh;
    max-width: var(--aside-width);
    min-width: var(--aside-width);
    position: fixed;
    right: calc(-1 * var(--aside-width));
    top: 0;
    transition: transform 200ms ease-in-out;

    header {
        align-items: center;
        display: flex;
        height: var(--header-height);
        justify-content: space-between;
        padding: 0 20px;


        .close {
            font-weight: bold;
            opacity: 0.8;
            text-decoration: none;
            transition: all 200ms;
            width: 20px;
            background: transparent;

            &:hover {
                opacity: 1;
            }

            svg {
                background: var(--color-dark);
                padding: 10px;
                border-radius: 50%;
                color: var(--color-white);
            }

        }

        h2 {
            margin-bottom: 0.6rem;
            margin-top: 0;
        }
    }

    main {
        margin: 1rem;
    }
}

aside p {
    margin: 0 0 0.25rem;
}

aside p:last-child {
    margin: 0;
}

aside li {
    margin-bottom: 0.125rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.305);
    backdrop-filter: blur(15px);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in-out;
    transition: opacity 400ms;
    visibility: hidden;
    z-index: 10;
}

.overlay .close-outside {
    background: transparent;
    border: none;
    color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100% - var(--aside-width));
}

.overlay .light {
    background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
    cursor: default;
    height: 100%;
    position: absolute;
    width: 100%;
}

.overlay:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* reveal aside */
.overlay:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
}

/*
  * --------------------------------------------------
  * components/Header
  * --------------------------------------------------
  */

.logo {
    width: 180px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-white);
    height: var(--header-height);
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-inline: 1.8rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header-menu-mobile-toggle {
    @media (min-width: 58em) {
        display: none;
    }
}

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.header-menu-mobile {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    text-align: center;
    font-family: stinger;
    letter-spacing: 2.5px;

    a {
        font-size: 4rem;
    }
}

.header-menu-desktop {
    display: none;
    grid-gap: 2.5rem;

    @media (min-width: 58em) {
        display: flex;
        align-items: center;
        grid-gap: 2.5rem;
    }
}

.header-menu-item {
    cursor: pointer;
}

.header-ctas {
    align-items: center;
    display: flex;
    grid-gap: 1rem;
    margin-left: auto;
}

/*
  * --------------------------------------------------
  * components/Footer
  * --------------------------------------------------
  */

.footer {
    background: var(--color-dark);
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2rem 3rem;


    .links-wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;

        .footer-menu {
            align-items: center;
            display: flex;
            grid-gap: 10px;
            padding: 1rem;
            margin-top: 5px;

            a {
                color: var(--color-white);
            }
        }
    }

    .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            width: 100px;
        }

        span {
            color: var(--color-grey-light);
            letter-spacing: 1.5px;
            text-align: start;

            p {
                font-size: .8rem;
                letter-spacing: 2px;
            }
        }
    }
}

/*
  * --------------------------------------------------
  * components/Cart
  * --------------------------------------------------
  */
.cart-main {
    height: 100%;
    max-height: calc(100vh - var(--cart-aside-summary-height));
    overflow-y: auto;
    width: auto;
}

.cart-main.with-discount {
    max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
    display: flex;
    padding: 0.75rem 0;
}

.cart-line img {
    height: 100%;
    display: block;
    margin-right: 0.75rem;
}

.cart-summary-page {
    position: relative;
}

.cart-summary-aside {
    background: white;
    border-top: 1px solid var(--color-grey-light);
    padding-top: 0.75rem;
    bottom: 50px; 
    position: absolute;
    width: calc(var(--aside-width) - 40px);
    margin-bottom: 1.5rem;

    .total{
        display: flex;
        align-items: canter;
        gap: 10px;

        dl > dd{
            font-weight: 800;
            color: var(--color-red);

            div{
                font-size: 1rem;
            }
        }
    }

    .input-discount{
        width: 100px;
        height: 15px;
        font-size: 10px;
        border-radius: 0;
        margin-left: .6rem;
    }
}

.cart-line-quantity {
    display: flex;

    form {

        button {
            width: 20px;
            height: 20px;
            background: var(--color-grey-light);
            border-radius: 20px;
            transition: .5s ease-in;
        }

        button:hover {
            background: #f8f9fa;
        }

        .remove-cart-button {
            background: none;
        }

    }
}

.cart-discount {
    align-items: center;
    display: flex;
    margin-top: 0.25rem;
}

.cart-subtotal {
    align-items: center;
    display: flex;
}

/*
  * --------------------------------------------------
  * components/Search
  * --------------------------------------------------
  */
.predictive-search {
    height: calc(100vh - var(--header-height) - 40px);
    overflow-y: auto;

    form {
        div {
            input {
                padding: 20px;
                width: 100%;
                background: var(--color-grey-light);
                border: none;
                border-radius: 20px;
                color: var(--color-grey-medium);
            }

            button {
                display: none;
            }
        }
    }
}

.predictive-search-form {
    background: var(--color-white);
    position: sticky;
    top: 0;
}

.predictive-search-result {
    margin-bottom: 2rem;
}

.predictive-search-result h5 {
    text-transform: uppercase;
}

.predictive-search-result-item {
    margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
    align-items: center;
    display: flex;
}

.predictive-search-result-item a img {
    margin-right: 0.75rem;
    height: 100%;
}

.search-result {
    margin-bottom: 1.5rem;
}

.search-results-item {
    margin-bottom: 0.5rem;
}

.search-results-item a {
    display: flex;
    flex: row;
    align-items: center;
    gap: 1rem;
}

/*
  * --------------------------------------------------
  * components/SocialMediaIcons
  * --------------------------------------------------
  */

.sm-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--color-grey-light);
    cursor: pointer;

    svg {
        color: var(--color-grey-light);
        stroke-width: 1px;
        width: 25px;
        height: 25px;
    }
}

/*
  * --------------------------------------------------
  * routes/__index
  * --------------------------------------------------
  */

.hero-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    background-color: var(--color-white);
    background-position: center;
    background-size: auto;

    .content {
        max-width: 1550px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 3rem;

        .left {
            padding: 3rem;

            h1 {
                line-height: 1em;
            }

            p {
                padding-right: 5rem;
                margin-bottom: 2rem;
            }

            .calls {
                display: flex;
                gap: 1.5rem;
            }
        }

        .right {
            padding-right: 3rem;
            transform: translatey(0px);
            animation: float 5s ease-in-out infinite;

            img {
                max-width: 32.5rem;
                height: auto;
                user-select: none;
            }
        }
    }
}

@keyframes float {
    0% {
        filter: drop-shadow(3px 1px 10px rgba(0, 0, 0, 0.3));
        transform: translatey(0px);
    }

    50% {
        filter: drop-shadow(3px 25px 10px rgba(0, 0, 0, 0.15));
        transform: translatey(-15px);
    }

    100% {
        filter: drop-shadow(3px 1px 10px rgba(0, 0, 0, 0.3));
        transform: translatey(0px);
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;

    .section-wrapper {
        max-width: 1800px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 0.62rem;

        .card-wrapper {
            display: flex;
            width: calc(50% - 15px);
            height: 420px;
            overflow: hidden;
            cursor: pointer;

            .left {
                flex: 1;
                padding: 40px;

                p {
                    font-weight: 300;
                }

                a {
                    display: flex;
                    align-items: center;
                    transition: transform 0.5s ease;
                    margin-top: 10px;
                    opacity: .6;

                    svg {
                        &:hover {
                            transform: translateX(5px);
                        }
                    }
                }
            }

            .right {
                position: relative;
                flex: 1;

                img {
                    width: 350px;
                    margin-top: 3rem;

                    &:hover {
                        transform: translateY(-15px);
                    }
                }
            }
        }
    }
}

.featured-collection {
    display: block;
    margin-bottom: 2rem;
    position: relative;
}

.featured-collection-image {
    aspect-ratio: 1 / 1;

    @media (min-width: 45em) {
        aspect-ratio: 16 / 9;
    }
}

.featured-collection img {
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.recommended-products {
    margin-top: var(--margin-section-desk);
    margin-bottom: var(--margin-section-desk);

    h3{
        padding-inline: 3rem;
    }

    .calltoaction {
        overflow: visible;
        padding: 20px;
        display: flex;
        justify-content: center;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }

    .text-bar {
        margin-top: 2%;
        margin-bottom: 4%;
        display: flex;
        overflow: hidden;

        .text-container {
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            width: 100%;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;

            .track {
                background: var(--color-dark);
                color: var(--color-white);
                position: absolute;
                white-space: nowrap;
                will-change: transform;
                animation: marquee 22s linear infinite;
            }

            @keyframes marquee {
                from {
                    transform: translateX(-50%);
                }

                to {
                    transform: translateX(0%);
                }
            }
        }
    }

    .recommended-products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: 45em) {
            grid-template-columns: repeat(4, 1fr);
        }

        .recommended-product {

            .image-wrapper {
                position: relative;

                img {
                    height: auto;
                    object-fit: cover;

                    transition: transform 0.1s ease-in-out;
                    view-timeline-name: --image;
                    view-timeline-axis: block;
                    animation-timeline: --image;
                    animation-name: show;
                    animation-range: entry 25% cover 50%;
                    animation-fill-mode: both;

                    @keyframes show {
                        from {
                            scale: 25%;
                        }

                        to {
                            scale: 100%;
                        }
                    }
                }

                .hover-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 0s ease 0.2s;
                }

                &:hover .hover-image {
                    opacity: 1;
                }
            }

            .info-prod {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 15px;

                small {
                    color: var(--color-red);
                    font-weight: 800;
                    font-size: 1rem;
                    margin-top: 5px;
                }
            }
        }
    }
}

.garanties {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--margin-section-desk);
    padding: 5rem 3rem;
    background: var(--color-grey-light);

    .icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: transform 0.5s ease;

        svg:hover {
            transform: scale(1.1);
            color: #FF0A01;
        }
    }
}

.call-to-ig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: var(--margin-section-desk);
    margin-bottom: var(--margin-section-desk);
    gap: 2rem;

    h3 {
        text-align: center;
    }

    a {
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--color-red);
    }

    .recomended-photos {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;


        img {
            width: 150px;
            pointer-events: none;
        }

    }
}

/*
  * --------------------------------------------------
  * routes/collections._index.tsx
  * --------------------------------------------------
  */

.collections {

    .hero {
        padding: 50px 3rem;
        margin-bottom: var(--margin-section-desk);
        background: var(--color-grey-light);
        display: flex;
        justify-content: start;
    }

    div {
        .collections-grid {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
            margin-bottom: var(--margin-section-desk);
            margin-top: var(--margin-section-desk);
            align-content: center;

            .collection-item {

                img {
                    height: auto;
                }

                h5 {
                    padding-inline: 10px;
                }
            }
        }
    }
}


/*
  * --------------------------------------------------
  * routes/collections.$handle.tsx
  * --------------------------------------------------
  */

.collection {
    margin-bottom: var(--margin-section-desk);

    .hero {
        padding: 50px 3rem;
        background: var(--color-grey-light);
        margin-bottom: var(--margin-section-desk);

        h1 {}

        .collection-description {
            margin-bottom: 1rem;
            max-width: 95%;

            @media (min-width: 45em) {
                max-width: 600px;
            }
        }
    }

    .products-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
        margin-top: var(--margin-section-desk);
        margin-bottom: 2rem;

        .product-item {

            .product-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 10px;

                h4 {}

                small {
                    color: var(--color-red);
                    font-weight: 800;
                }
            }
        }
    }
}


.product-item img {
    height: auto;
    width: 100%;
}

/*
  * --------------------------------------------------
  * routes/products.$handle.tsx
  * --------------------------------------------------
  */

.product-wrapper {

    .product {
        display: grid;

        @media (min-width: 45em) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
        }

        h1 {
            margin-top: 0;
        }
    }

    .description-large-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 3rem;
        gap: 30px;

        .left {
            display: flex;
            align-items: center;
        }

        .right {
            width: fit-content;
            max-width: 600px;
            margin-top: 1.5rem;
        }
    }
}

.product-image {
    height: auto;
    width: 55vw;

    img {
        height: calc(100vh - 70px);
        width: 100%;
        object-fit: cover;
        margin-top: -5px;
        margin-bottom: -5px;
    }
}

.product-main {
    align-self: start;
    position: sticky;
    top: 8rem;

    .product-price {

        div {
            font-size: 1.8rem;
            color: var(--color-red);
            font-weight: 500;
        }
    }

    .description {
        max-width: 650px;
        margin-right: 3rem;
    }
}

.product-price-on-sale {
    display: flex;
    grid-gap: 0.5rem;
}

.product-price-on-sale s {
    opacity: 0.5;
}

.product-options-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.75rem;

    .product-options-item {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

/*
  * --------------------------------------------------
  * routes/contact.jsx
  * --------------------------------------------------
  */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: var(--margin-section-desk);
    min-height: 60vh;

    .hero {
        background: var(--color-grey-light);
        width: 100%;
        padding: 3rem;
        margin: 0;

        h1 {}
    }

    .contact-wrapper {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
            display: flex;
            flex-direction: column;

            h2 {
                width: fit-content;
            }

            div {
                span {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }

        .right {}
    }
}


/*
  * --------------------------------------------------
  * routes/blog._index.tsx
  * --------------------------------------------------
  */
.blog-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}

.blog-article-image {
    aspect-ratio: 3/2;
    display: block;
}

.blog-article-image img {
    height: 100%;
}

/*
  * --------------------------------------------------
  * routes/blog.$articlehandle.tsx
  * --------------------------------------------------
  */
.article img {
    height: auto;
    width: 100%;
}

/*
  * --------------------------------------------------
  * skeleton
  * --------------------------------------------------
*/

.skeleton-loading {
    background-color: #f5f5f5;
    width: auto;
    height: auto;
    background-color: var(--color-grey-light);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--color-grey-light);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}