/*
  * --------------------------------------------------
  * Mobile and small tabs
  * --------------------------------------------------
*/
@media only screen and ((min-width: 321px) and (max-width: 480px)) {
  /*
  * --------------------------------------------------
  * components/Aside
  * --------------------------------------------------
  */
  aside {
    max-width: var(--aside-width-mobile);
    min-width: var(--aside-width-mobile);
  }
  /* reveal aside */
  /*
  * --------------------------------------------------
  * components/Header
  * --------------------------------------------------
  */
  /*
  * --------------------------------------------------
  * components/Footer
  * --------------------------------------------------
  */
  .footer {
    flex-direction: column;
    padding: 1.5rem 1rem;
  }
  .footer .links-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .footer .links-wrapper .footer-menu {
    flex-direction: column-reverse;
  }
  .footer .links-wrapper .sm-icons-wrapper {
    gap: 2rem;
  }
  .footer .logo-footer img {
    width: 70px;
  }
  .footer .logo-footer span {
    font-size: 0.8rem;
  }
  /*
  * --------------------------------------------------
  * routes/__index  
  * --------------------------------------------------
  */
  .hero-wrapper {
    height: auto;
  }
  .hero-wrapper .content {
    flex-direction: column-reverse;
    gap: 0;
  }
  .hero-wrapper .content .left {
    padding: 0;
    padding-inline: 1.5rem;
  }
  .hero-wrapper .content .left h1 {
    margin: 0;
  }
  .hero-wrapper .content .left p {
    padding: 0;
    margin: 0;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .hero-wrapper .content .right {
    padding: 0;
    width: auto;
    height: auto;
  }
  .hero-wrapper .content .right img {
    margin-top: 20px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .section-wrapper {
    margin-top: var(--margin-section-mobile);
    margin-bottom: var(--margin-section-mobile);
  }
  section .section-wrapper .card-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    min-height: 550px;
    height: 65vh;
  }
  section .section-wrapper .card-wrapper .right img {
    width: 100%;
  }
  .featured-collection-image {
    aspect-ratio: 16/9;
  }
  .recommended-products {
    margin-top: var(--margin-section-mobile);
    margin-bottom: var(--margin-section-mobile);
  }
  .recommended-products .text-bar .text-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .recommended-products .recommended-products-grid .recommended-product .info-prod small {
    font-size: 0.8rem;
  }
  .recommended-products .calltoaction {
    margin-bottom: var(--margin-section-mobile);
  }
  .garanties {
    text-align: center;
    gap: 20px;
    padding-inline: 20px;
    padding: 1rem;
  }
  .garanties .icon-wrapper svg {
    width: 40px;
    height: 40px;
  }
  /*
  * --------------------------------------------------
  * routes/products.$handle.tsx
  * --------------------------------------------------
  */
  .product-wrapper .product .product-image {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: auto;
  }
  .product-wrapper .product .product-image::-webkit-scrollbar {
    width: 5rem;
    height: 0.5rem;
    background: var(--color-white);
  }
  .product-wrapper .product .product-image::-webkit-scrollbar-thumb {
    background: var(--color-grey-medium);
  }
  .product-wrapper .product .product-image img {
    min-width: 100%;
    height: auto;
    scroll-snap-align: center;
  }
  .product-wrapper .product .product-main {
    padding-inline: 10px;
  }
  .product-wrapper .product .product-main h1 {
    margin-top: 1rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .product-wrapper .product .product-main .product-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    background-color: var(--color-white);
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--color-grey-light);
  }
  .product-wrapper .product .product-main .product-form .product-options {
    display: flex;
  }
  .product-wrapper .product .product-main .product-form .product-options h5 {
    display: none;
  }
  .product-wrapper .description-large-wrapper {
    flex-direction: column;
    padding: 2rem 10px;
    gap: 0;
  }
  .product-wrapper .description-large-wrapper .left {
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
  }
  .product-wrapper .description-large-wrapper .right {
    margin-top: auto;
  }
  /*
  * --------------------------------------------------
  * reset.scss
  * --------------------------------------------------
  */
  h1 {
    font-size: 3.3rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  h3 {
    font-size: 2.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  h4 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h5 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  h6 {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
  p {
    font-size: 1.1rem;
    font-weight: 100;
  }
  .p-button-mobile {
    display: block;
    padding: 8px 40px;
    background-color: var(--color-red);
    color: var(--color-white);
    border-radius: 6.87rem;
    font-size: 1.06rem;
    letter-spacing: 0.08rem;
  }
}
/* Legacy and small mobiles */
/*
  * --------------------------------------------------
  * Big Mobile and small tabs
  * --------------------------------------------------
*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /*
  * --------------------------------------------------
  * components/Aside
  * --------------------------------------------------
  */
  /* reveal aside */
  /*  
  routes/__index  
  */
  section .section-wrapper .card-wrapper .right img {
    width: 100%;
  }
  /*
  * --------------------------------------------------
  * routes/products.$handle.tsx
  * --------------------------------------------------
  */
  /*
  * --------------------------------------------------
  * reset.scss
  * --------------------------------------------------
  */
}