/*
  * --------------------------------------------------
  * Mobile and small tabs
  * --------------------------------------------------
*/
@media only screen and (max-width: 767px) {

    /*
  * --------------------------------------------------
  * components/Aside
  * --------------------------------------------------
  */

    aside {
        max-width: var(--aside-width-mobile);
        min-width: var(--aside-width-mobile);

        header {

            .close {

                &:hover {}

                svg {}

            }

            h2 {}
        }

        main {}
    }

    aside p {}

    aside p:last-child {}

    aside li {}

    .overlay {}

    .overlay .close-outside {}

    .overlay .light {}

    .overlay .cancel {}

    .overlay:target {}

    /* reveal aside */
    .overlay:target aside {}

    /*
  * --------------------------------------------------
  * components/Header
  * --------------------------------------------------
  */

    .logo {}

    .header {}



    .nav-wrapper {}

    .header-menu-mobile {

        .header-menu-item {}
    }


    .header-menu-desktop {}

    .header-menu-item {}

    .header-ctas {}

    /*
  * --------------------------------------------------
  * components/Footer
  * --------------------------------------------------
  */

    .footer {
        flex-direction: column;
        padding: 1.5rem 1rem;

        .links-wrapper {
            flex-direction: column;
            width: 100%;

            .footer-menu {
                flex-direction: column-reverse;

                a {}
            }

            .sm-icons-wrapper {
                gap: 2rem;
            }
        }

        .logo-footer {

            img {
                width: 70px;
            }

            span {
                font-size: .8rem;

                p {}
            }
        }
    }


    /*
  * --------------------------------------------------
  * routes/__index  
  * --------------------------------------------------
  */

    .hero-wrapper {
        height: auto;

        .content {
            flex-direction: column-reverse;
            gap: 0;

            .left {
                padding: 0;
                padding-inline: 1.5rem;

                h1 {
                    margin: 0;
                }

                p {
                    padding: 0;
                    margin: 0;
                    margin-top: 1.6rem;
                    margin-bottom: 1.6rem;
                }

                .calls {}
            }

            .right {
                padding: 0;
                width: auto;
                height: auto;

                img {
                    margin-top: 20px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    section {

        .section-wrapper {
            margin-top: var(--margin-section-mobile);
            margin-bottom: var(--margin-section-mobile);

            .card-wrapper {
                width: auto;
                display: flex;
                flex-direction: column;
                min-height: 550px;
                height: 65vh;

                .left {

                    p {}
                }

                .right {

                    img {
                        width: 100%;

                        &:hover {}
                    }
                }
            }
        }
    }

    .featured-collection {}

    .featured-collection-image {
        aspect-ratio: 16 / 9;
    }

    .featured-collection img {}

    .recommended-products {
        margin-top: var(--margin-section-mobile);
        margin-bottom: var(--margin-section-mobile);

        .text-bar {

            .text-container {
                padding-top: 2rem;
                padding-bottom: 2rem;

                .track {}

            }
        }

        .recommended-products-grid {

            .recommended-product {

                img {}

                .info-prod {

                    small {
                        font-size: .8rem;
                    }
                }
            }
        }

        .calltoaction {
            margin-bottom: var(--margin-section-mobile);
        }
    }

    .garanties {
        text-align: center;
        gap: 20px;
        padding-inline: 20px;
        padding-top: 100px;
        padding-bottom: 100px;


        .icon-wrapper {

            svg {
                width: 40px;
                height: 40px;
            }

        }
    }

    .call-to-ig {
        margin-top: var(--margin-section-mobile);
        margin-bottom: var(--margin-section-mobile);
        gap: 1.5rem;

        h3 {}

        a {
            font-size: 2rem;
        }

        .recomended-photos {
            column-gap: 10px;
            margin-bottom: var(--margin-section-mobile);


            img {
                width: 120px;
                pointer-events: none;
            }

        }
    }

    /*
  * --------------------------------------------------
  * routes/products.$handle.tsx
  * --------------------------------------------------
  */

    .product-wrapper {

        .product {

            .product-image {
                display: flex;
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                width: auto;

                &::-webkit-scrollbar {
                    width: 5rem;
                    height: .5rem;
                    background: var(--color-white);

                }

                &::-webkit-scrollbar-thumb {
                    background: var(--color-grey-medium);
                }

                img {
                    min-width: 100%;
                    height: auto;
                    scroll-snap-align: center;
                }
            }

            .product-main {
                padding-inline: 10px;

                h1 {
                    margin-top: 1rem;
                    width: fit-content;
                }

                .product-price {

                    div {}
                }

                .product-form {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: sticky;
                    bottom: 0;
                    background-color: var(--color-white);
                    padding-bottom: 15px;
                    padding-top: 15px;
                    border-top: 1px solid var(--color-grey-light);

                    .product-options {
                        display: flex;

                        h5 {
                            display: none;
                        }
                    }
                }
            }
        }

        .description-large-wrapper {
            flex-direction: column;
            padding: 2rem 10px;
            gap: 0;

            .left {
                width: fit-content;
                overflow: hidden;
            }

            .right {
                margin-top: auto;

            }

        }
    }

    .product-price-on-sale {}

    .product-price-on-sale s {}

    .product-options-grid {

        .product-options-item {}
    }

    /*
  * --------------------------------------------------
  * routes/collections._index.tsx
  * --------------------------------------------------
  */

    .collections {

        .hero {
            margin-bottom: var(--margin-section-mobile);
        }

        div {
            .collections-grid {
                grid-template-columns: repeat(2, minmax(auto, 1fr));
                margin-bottom: var(--margin-section-mobile);
                margin-top: var(--margin-section-mobile);

                .collection-item {

                    img {}

                    h5 {}
                }
            }
        }
    }

    /*
  * --------------------------------------------------
  * routes/collections.$handle.tsx
  * --------------------------------------------------
  */

    .collection {
        margin-bottom: var(--margin-section-mobile);

        .hero {
            margin-bottom: var(--margin-section-mobile);

            h1 {}

            .collection-description {}
        }

        .products-grid {
            grid-template-columns: repeat(2, minmax(auto, 1fr));
            margin-top: var(--margin-section-mobile);

            .product-item {

                .product-info {

                    h4 {}

                    small {}
                }
            }
        }
    }

    .product-item img {}

    /*
  * --------------------------------------------------
  * routes/contact.jsx
  * --------------------------------------------------
  */

    .contact {

        .hero {
            background: var(--color-grey-light);
            padding: 0rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            margin: 0;

            h1 {}
        }

        .contact-wrapper {
            padding-inline: 3rem;

            .left {

                h2 {}

                div {
                    span {}
                }
            }

            .right {}
        }
    }



    /*
    * --------------------------------------------------
    * reset.scss
    * --------------------------------------------------
    */

    h1 {
        font-size: 3.3rem;
        margin-bottom: .5rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    h3 {
        font-size: 2.8rem;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }

    h4 {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    h5 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    h6 {
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 100;
    }

    .p-button-mobile {
        display: block;
        padding: 8px 40px;
        background-color: var(--color-red);
        color: var(--color-white);
        border-radius: 6.87rem;
        font-size: 1.06rem;
        letter-spacing: .08rem;
    }
}
